{{#resume.basics}}
    <section class="container vertical">
        <h1>{{name}}</h1>
        <h2>{{label}}</h2>

        {{#if summary}}
            <article>
                {{summary}}
            </article>
        {{/if}}
    </section>
    <section class="container horizontal">
        {{#if (or website email phone)}}
            <address>
                <h3>Contact</h3>

                {{#if website}}
                    <div>
                        <a href="{{website}}">{{website}}</a>
                    </div>
                {{/if}}
                {{#if email}}
                    <div>
                        <a href="mailto:{{email}}">{{email}}</a>
                    </div>
                {{/if}}
                {{#if phone}}
                    <div>
                        <a href="tel:{{phone}}">{{phone}}</a>
                    </div>
                {{/if}}
            </address>
        {{/if}}
        {{#location}}
            {{#if (or address postalCode city countryCode region)}}
                <address>
                    <h3>Location</h3>

                    {{#if address}}
                        <span>{{address}}</span>
                    {{/if}}
                    {{#if postalCode}}
                        <span>{{postalCode}}</span>
                    {{/if}}
                    {{#if city}}
                        <span>{{city}}</span>
                    {{/if}}
                    {{#if region}}
                        <span>{{region}}</span>
                    {{/if}}
                    {{#if countryCode}}
                        <span>{{countryCode}}</span>
                    {{/if}}
                </address>
            {{/if}}
        {{/location}}
        {{#if profiles.length}}
            <article>
                <h3>Profiles</h3>

                <section class="container horizontal">
                    {{#each profiles}}
                        <div>
                            {{#if network}}
                                <strong>{{network}}</strong>
                            {{/if}}
                            {{#if username}}
                                <div>{{username}}</div>
                            {{/if}}
                            {{#if url}}
                                <div><a href="{{url}}">Link</a></div>
                            {{/if}}
                        </div>
                    {{/each}}
                </section>
            </article>
        {{/if}}
    </section>
{{/resume.basics}}